@import "../mix-ins.scss";
@import "../variables.scss";

.logo-container {
   padding: 5rem;
 }

 .logo-loader {
   margin: 8px auto;
   display: block;
   height: 200px;
   width: 70px;
   animation: crescendo .75s alternate infinite ease-in;
}

.pulse {
   animation: pulsate 1s ease-out;
   animation-iteration-count: infinite; 
   opacity: 0.0;
   border: 3px solid#2baee7;
   border-radius: 30px;
   height: 18px;
   width: 18px;
   position: relative;
   display: inline-block;
   margin-top: 20px;
   text-align: center;
}

.loader-container {
   width: 215px;
   height: 215px;
   position: absolute;
   top: 35%;
   left: 50%;
   transform: translate(-50%, -50%);
   border-radius: 50%;
}

.loader-container:before,.loader-container:after {
   content: '';
   display: block;
   border-radius: 50%;
   position: absolute;
   border: 1px solid #2baee7;  
   left: -15px;
   right: -15px;
   bottom: -15px;
   top: -15px;
   animation: animate 1.5s linear infinite;
   opacity: 0;
} 


@keyframes animate {
   0% {
      transform: scale(0.5);
      opacity: 0;
   }
   50% {
      opacity: 1;
   }
   100% {
      transform: scale(1.2);
      opacity: 0;
   }
}


@keyframes crescendo {
   0%   {transform: scale(.5);}
   100% {transform: scale(.75);}
 }
