@import "../mix-ins.scss";
@import "../variables.scss";

.mobile-header {
   width: 100%;
   background: $white;
   height: 65px;
   position: fixed;
   border-bottom: 1px solid $light-grey;
   top: 0;
   @include element(phone) {
      color: $green;
      position: absolute;
      right: 160px;
      top: 20%;
      border: 1px solid;
      border-radius: 50%;
      border-color: #f2f2f2;
      transition: .25s ease-in;
      &:hover {
         border-color: $green;
      }
      i {
         @include margin(10px, 10px, 10px, 10px);         
         font-size: 20px !important; 
      }
   }
   @include element(get-a-quote) {
      position: absolute;
      right: 0px;
      @include margin(12px, 10px, 12px, 10px);
      @include padding(11px, 11px, 11px, 11px);
      cursor: pointer;
      text-decoration: none;
      color: $white;
      border-radius: 2px;
      background: $icad-blue;
   }
}


.bm-burger-button {
   height: 25px;
   @include margin(21px, 12px, 21px, 12px);
   position: absolute;
   width: 30px;
 }
 
.bm-burger-bars {
   background: $dark-grey;
   height: 2.5px !important;
   border-radius: 3px;
}

.bm-morph-shape {
   opacity: .96;
}
 
.bm-cross-button {
   height: 24px;
   width: 24px;
}

.bm-cross {
   background: $smoke-grey;
}

.bm-morph-shape {
   fill: $dark-grey;
}

.bm-item {
   display: inline-block;
   @include margin(35px, 10px, 35px, 10px);
   &:nth-of-type(1) {
      @include margin(15px, 10px, 35px, 10px);      
   }
}

.bm-menu {
   background: $dark-grey;
   padding: 2em .5em 0;
   font-size: 1.2rem;
   opacity: 0.96;
}

button, .bm-cross {
   height: 20px !important;
   outline: none;
}

.mobile-list-item {
   outline: none;
   @include element(anchor) {
      color: $white;
      text-decoration: none;
      outline: none;
      text-transform: uppercase;
      transition: .3s all ease-in-out;
      &:hover {
         color: $icad-blue;  
      } 
   }
}

.fass {
   @include margin(0, 10px, 0, 0);         
}

.small-icad {
   color: #b8b7ad;
   position: absolute;
   bottom: 0;
   margin-bottom: 12px !important;
   outline: none;
}

.selected {
   color: $icad-blue !important;
}

/**** Desktop styles below ****/

.desktop-header {
   display: none;
   width: 100%;
   background: white;
   position: fixed;
   border-bottom: 1px solid $light-grey;
   top: 0;
}

@media only screen and (min-width : 992px) {
   .mobile-header {
      display: none;
   }
   .desktop-header {
      display: flex;
      justify-content: space-between;
      @include padding(1.25rem, 1rem, 1.25rem, 1rem);            
   }
}

.list-items-container {
   display: flex;
   width: 675px;
   justify-content: space-between;
   @include element(list-item) {
      border: none;
      list-style: none;
      @include modifier(link) {
         @include margin(.8rem, 0, .8rem, 0);  
         display: block;             
         font-size: $small-font;
         text-transform: uppercase;
         color: $dark-grey;         
         text-decoration: none; 
         transition: .25s ease-in-out;
         &:hover {
            color: $icad-blue;
            transform: scale(1.09);            
         }       
      }
   }
}

.phone-quote-container {
   display: flex;
   width: 200px;   
   justify-content: space-between;
   @include element(phone) {
      color: $green;
      border: 1px solid;
      border-radius: 50%;
      border-color: #f2f2f2;
      transition: .25s ease-in;
      &:hover {
         border-color: $green;
      }
      i {
         @include margin(10px, 10px, 10px, 10px);         
         font-size: 20px !important; 
      }
   }
   @include element(quote) {
      @include padding(11px, 11px, 11px, 11px);
      cursor: pointer;
      text-decoration: none;
      color: $white;
      border-radius: 2px;
      background: $icad-blue;
   }
}

