//colors
$white: #FFFFFF;
$black: #000000;
$icadBlue: #2baee7;
$light-grey: #f2f2f2;
$dark-grey: #373a47;

//font sizes
$extra-small-font: .5rem;
$small-font: 1rem;
$medium-font: 1.5rem;
$large-font: 2rem;
$extra-large-font: 2.5rem;

//margins
$extra-small-margin: .5rem;
$small-margin: 1rem;
$medium-margin: 1.5rem;
$large-margin: 2rem;
$extra-large-margin: 2.5rem;

//padding
$extra-small-padding: .5rem;
$small-padding: 1rem;
$medium-padding: 1.5rem;
$large-padding: 2rem;
$extra-large-padding: 2.5rem;

//screen sizes 
$screen-sm-min: 576px;  // Small tablets and large smartphones 
$screen-md-min: 768px;  // Small tablets 
$screen-lg-min: 992px;  // Tablets and small desktops
$screen-xl-min: 1200px; // Large tablets and desktops